input {
  padding: 0 10px;
  height: 42px;
  border: 1px solid transparent;
  border-right: none;
  border-radius: 5px;
  background: white;
  font-size: 18px;

  &:focus {
    border-color: #19C595;
  }
}

button {
  height: 42px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: $green;
  color: white;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }

  &:hover {
    background: color($green shade(10));
  }

  &:active {
    background: color($green shade(20));
  }
}

:focus {
  outline: none;
}