<div class="{{styles.board}}">
  {{#each controller.board.rows}}
    <div class="{{../styles.row}}">
      {{#each this}}
        <div class="{{../../styles.tile}}">{{this}}</div>
      {{/each}}
    </div>
  {{/each}}
</div>