.list {
  margin-top: 20px;

  li {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.5);

    & + li {
      margin-top: 10px;
    }
  }
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  font-size: 9px;
  font-weight: 600;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 50%;
  color: rgba(0,0,0,0.5);
}

.word {
  margin-left: 10px;
}