<h1>Boggle</h1>

<div id="board"></div>

<div>
  <button id="new-game" type="button">New game</button>
</div>

<div>
  <input id="word" type="text" />
  <button id="submit-word" type="button">Submit word</button>
</div>