.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  &:not(.gameActive) {
    .gameActiveOnly {
      display: none;
    }
  }

  &.gameActive {
    .gameInactiveOnly {
      display: none;
    }
  }
}

.topBar {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;

  img {
    width: 100px;
    margin-bottom: -13px;
  }

  p {
    font-size: 18px;
  }

  .right {
    margin-left: auto;
  }
}

.placeholder {
  margin: 50px 0;

  button {
    margin-top: 50px;
  }
}

.inputForm {
  display: flex;
  margin-top: 20px;

  input {
    flex: 1 1 auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    width: 42px;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}